/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */


div {
    border: 2px solid hotpink;
}
.slogan {
    font-family: 'Rubik', sans-serif;
    size: 16px;
    font-weight: medium;
}

.cena {
    font-family: 'Rubik', sans-serif;
    size: 28px;
    font-weight: medium;
}

.zaruka {
    size: 12px;
    font-family: 'Rubik', sans-serif;
}
.nazev {
    font-family: 'Rubik', sans-serif;
    size: 20px;
    text-transform: uppercase;
}
.produkt, .popis, .velikosti, .parametr, .tlacitko {
    font-family: 'Rubik', sans-serif;
    size: 14px;
}
